<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true">
  <div *ngIf="bigimage==1" id="bigimage" class="pt-1 pl-5 pr-5">
    <div style="font-size:20px;">
      <ion-icon name="close-circle-outline" (click)="switchBigImage('-1')"></ion-icon>
    </div>
    <img [src]="bigimageurl" alt="">
  </div>
  <div class="p-3">
    <div class="row">
      <div *ngFor="let item of allphotos; let k = index" class="col-6">
        <div class="onephoto mb-3">
          <img (click)="switchBigImage(k)" [src]="item.link" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
